.container {
  border-radius: 6px;
  border: 1px solid rgb(149, 149, 255);
  padding: 0.4rem;
  width: 100%;
  background-color: whitesmoke;
}

.container > form > * {
  border-radius: 6px;
  border: 1px solid rgb(149, 149, 255);
  width: 100%;
  font-size: 0.4rem;
  color: gray;
  padding: 0.2rem;
}

.title {
  margin-bottom: 1em;
}

.description {
  height: 3rem;
}

.container > form > button {
  color: white;
  background-color: rgba(33, 33, 255, 0.658);
}
