.container {
  border-radius: 6px;
  border: 1px solid rgb(149, 149, 255);
  padding: 10px;
  max-width: 210px;
  width: 210px;
  background-color: whitesmoke;
}

.container > * {
  border-radius: 6px;
  border: 1px solid rgb(149, 149, 255);
  max-width: 100%;
  width: 100%;
  font-size: 0.4rem;
  color: gray;
  padding: 5px;
}

.title {
  margin-bottom: 1em;
}

.description {
  height: 3rem;
}

.container > button {
  color: white;
  background-color: rgba(33, 33, 255, 0.658);
}
