.container {
  width: 32%;
}

.progress {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.progress > p {
  padding-left: 0.4rem;
  font-size: 0.7rem;
}

.circleRed {
  display: block;
  width: 0.5rem; /* Ширина круга */
  height: 0.5rem; /* Высота круга */
  background-color: red; /* Цвет круга */
  border-radius: 50%; /* Закругление углов для создания круга */
}

.circleGreen {
  display: block;
  width: 0.5rem; /* Ширина круга */
  height: 0.5rem; /* Высота круга */
  background-color: green; /* Цвет круга */
  border-radius: 50%; /* Закругление углов для создания круга */
}

.circleYellow {
  display: block;
  width: 0.5rem; /* Ширина круга */
  height: 0.5rem; /* Высота круга */
  background-color: rgb(255, 217, 0); /* Цвет круга */
  border-radius: 50%; /* Закругление углов для создания круга */
}

.tasks {
  background-color: rgba(149, 149, 255, 0.185);
  height: 100vh;
  padding: 0.4rem;
  border-radius: 6px;
}

.tasks > * {
  margin-bottom: 0.4rem;
}

.wrapper {
  display: flex;
  padding: 0.4rem;
  justify-content: space-between;
  flex-flow: row nowrap;
}
