.container {
  border-radius: 6px;
  border: 1px solid rgb(149, 149, 255);
  padding: 10px;
  max-width: 210px;
  width: 210px;
  background-color: whitesmoke;
}

.container > h3 {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.container > p {
  font-size: 0.4rem;
  color: gray;
}
