.container {
  box-sizing: border-box;
  width: 100vm;
  text-align: center;
  padding: 0.4rem;
}

.container > span {
  display: block;
  font-size: 0.45rem;
  font-style: italic;
}

.container > h1 {
  font-size: 1.2rem;
  line-height: 0.9rem;
}
