.container {
  padding: 0.4rem;
}

.container > form {
  display: flex;
  justify-content: center;
}

.container input,
.container button {
  padding: 0.2rem;
  font-size: 0.5rem;
  border-radius: 6px;
  border: 1px solid rgb(149, 149, 255);
}

.container input {
  width: 5rem;
}
